body{
    font-family: 'Gulzar', serif;
margin: 0;
}

h1{
    font-size: 50px;
}


.Orange_color{
color: orange;

}
.heder_font-1{
    padding-left: 5px;
}
.heder_font_2{
    padding-left: 25%;
}
.flexible-container{
    display: flex;

}
.half-width{
    width: 50%;
    padding-left: 10px;
}
.half-width img{
width: 80%;
padding-top: 6%;
}

.link-button{
    text-decoration: none;
  background-image: linear-gradient(orange, tomato);
    padding: 10px 40px; 
    color: wheat;
    font-weight: 700px;
    border: 0px;
    border-radius: 5px;    

}

.top-banar{
    background-image: url(/images/top-banner.png);
    background-repeat: no-repeat;
}
.Dream-Big{
    background-image: url(/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
   
}

.experiences{
    background-image: url(/images/exp-bg.png);
    background-repeat: no-repeat;

}
.Experiences-heder{
    padding-left: 2%;
    font-weight: 700;

}
.experience-item{
    margin-top: 15px;
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
  
}
#full_stack_dev{
    border-left: 5px solid tomato;

}
#baby_web_dev{
    border-left: 5px solid blue;
}



footer{
    text-align: center;
    margin-top: 100px;
    font-family: 'Splash', cursive;
   
}